// ******************** Variables ******************** //
// ********** Primary Color ************ //
$pink: hsl(322, 100%, 66%);

// ********** Secondary Colors ************ //
$grayishblue: hsl(208, 11%, 55%);
$verydarkcyan: hsl(192, 100%, 9%);
$verypalecyan: hsl(193, 100%, 96%);

// ********** Fonts ************ //

$font-Poppins: "Poppins", sans-serif;
$font-Sans: "Open Sans", sans-serif;
$font-size: 18px;

// ********** Others ************ //

$shadow: 0 0 14px 1px $grayishblue;

// ******************** Mixins ******************** //

@mixin pinkbutton($fontsize) {
  background-color: $pink;
  border: none;
  border-radius: 35px;
  color: white;
  font-size: $fontsize;
  padding: 20px 50px;
}

// ******************** Globals ******************** //

* {
  margin: 0;
  padding: 0;
}

p {
  color: white;
}

.grid-container {
  column-gap: 20px;
  display: grid;
  row-gap: 30px;
}

// ******************** Header ******************** //

.header {
  background-color: $grayishblue;
  font-family: $font-Poppins;

  .header-navbar {
    margin-top: 30px;

    .btn-try {
      background-color: $verypalecyan;
      border: none;
      border-radius: 20px;
      color: $verydarkcyan;
      font-family: $font-Poppins;
      font-size: 12px;
      padding: 2px 15px;
    }
    
    .logo-header {
      width: 110px;
    }
  }

  .header-title {
    text-align: center;

    h1 {
      color: $verydarkcyan;
      font-size: 25px;
    }

    h3 {
      color: $verydarkcyan;
      font-family: $font-Sans;
      font-size: $font-size;
      font-weight: 400;
    }
  }
}

// ******************** Sections ******************** //

.container {
  border-radius: 10px;
  box-shadow: $shadow;
  .text {
    text-align: center;

    h1 {
      color: $verydarkcyan;
      font-family: $font-Poppins;
      font-size: 20px;
    }

    h3 {
      font-family: $font-Sans;
      font-size: $font-size;
      font-weight: 400;
      color: $grayishblue;
    }
  }
}

.pop-up {
  border-radius: 10px;
  box-shadow: $shadow;
  text-align: center;

  .text {
    color: $verydarkcyan;
    font-family: $font-Poppins;
    font-size: 18px;
  }
}

.btn-pink {
  @include pinkbutton($font-size);
}

.btn-pink2 {
  @include pinkbutton(12px);
}

// ******************** Footer ******************** //

.footer {
  background-color: $verydarkcyan;
  font-family: $font-Sans;

  .info-details {
    display: flex;
    font-size: $font-size - 2px;
    font-weight: 200;
    
    span {
      color: white;
      padding-left: 20px;
    }
    padding-top: 30px;
  }

  .links {
    font-weight: 400;
    margin-bottom: 30px;
    p {
      margin-top: 15px;
    }
  }

  .copyright {
    font-size: 10px;
    margin: 30px 0;
    text-align: center;
  }
  .social{
    text-align: center;
    i{
      border-style: solid;
      border-radius: 50%;
      border-width: 1px;
      padding: 5px 5px;
      margin: 5px;
    }
    #facebook-logo{
      width: 15px;
    }
  }
  img, i {
    filter:  brightness(0) invert(1);
  }
}
