// ******************** Variables ******************** //
// ********** Primary Color ************ //
$pink: hsl(322, 100%, 66%);

// ********** Secondary Colors ************ //
$grayishblue: hsl(208, 11%, 55%);
$verydarkcyan: hsl(192, 100%, 9%);
$verypalecyan: hsl(193, 100%, 96%);

// ********** Fonts ************ //

$font-Poppins: "Poppins", sans-serif;
$font-Sans: "Open Sans", sans-serif;
$font-size: 18px;

// ********** Others ************ //

$shadow: 0 0 8px 1px $grayishblue;

// ******************** Mixins ******************** //

@mixin pinkbutton($fontsize) {
  background-color: $pink;
  border: none;
  border-radius: 35px;
  color: white;
  cursor: pointer;
  font-family: $font-Sans;
  font-size: $fontsize;
  font-weight: 600;
  padding: 15px 50px;
}

// ******************** Globals ******************** //

* {
  margin: 0;
  padding: 0;
}

p {
  color: white;
}

.grid-container {
  column-gap: 20px;
  display: grid;
  row-gap: 30px;
}

// ******************** Header ******************** //
.header {
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: auto;
  font-family: $font-Poppins;

  .header-navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px 10px;

    .btn-try {
      background-color: white;
      border: none;
      border-radius: 20px;
      box-shadow: $shadow;
      color: $verydarkcyan;
      cursor: pointer;
      font-family: $font-Poppins;
      font-size: 12px;
      padding: 2px 15px;
    }

    .btn-try:hover {
      color: #8d949a;
    }

    .logo-header {
      width: 110px;
    }
  }

  .mockup {
    margin: 50px 0px;
    text-align: center;
    img {
      width: 80%;
    }
  }

  .header-title {
    text-align: center;

    h1 {
      color: $verydarkcyan;
      font-size: 25px;
      margin: 20px;
    }

    h3 {
      color: $verydarkcyan;
      font-family: $font-Sans;
      font-size: $font-size;
      font-weight: 400;
      margin: 20px 15px;
    }
  }
}

.btn-pink {
  @include pinkbutton($font-size - 2px);
}

.btn-pink:hover {
  background-color: #ff9bdb;
}

// ******************** Sections ******************** //

.container {
  border-radius: 10px;
  box-shadow: $shadow;
  margin: 7px 20px;

  .text {
    text-align: center;
    margin: 15px 26px;

    h1 {
      color: $verydarkcyan;
      font-family: $font-Poppins;
      font-size: 20px;
      margin: 15px;
    }

    h3 {
      color: $grayishblue;
      font-family: $font-Sans;
      font-size: $font-size - 2px;
      font-weight: 400;
      margin-bottom: 40px;
    }
  }

  .Image {
    margin: 35px auto;
    text-align: center;
    img {
      width: 60%;
    }
  }
}

.pop-up {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px 0.1px black;
  margin: auto 20px;
  position: relative;
  text-align: center;
  top: 90px;

  .text {
    color: $verydarkcyan;
    font-family: $font-Poppins;
    font-size: 18px;
    margin-top: 45px;
  }
}

.btn-pink2 {
  @include pinkbutton(12px);
  margin: 30px auto;
}

.btn-pink2:hover {
  background-color: #ff9bdb;
}

// ******************** Footer ******************** //

.footer {
  background-color: $verydarkcyan;
  font-family: $font-Sans;

  .footer-content {
    margin: 0 18px 0 18px;
  }

  .footer-img {
    margin-top: 110px;
  }

  .info-details {
    display: flex;
    font-size: $font-size - 2px;
    font-weight: 200;
    padding-top: 30px;

    span {
      color: white;
      padding-left: 20px;
    }
  }

  .links {
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 50px;

    p {
      margin-top: 15px;
    }
  }

  .links div p:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .copyright {
    font-size: 10px;
    margin: 30px 0;
    text-align: center;
  }

  .social {
    display: flex;
    justify-content: center;
    text-align: center;

    i {
      border-style: solid;
      border-radius: 50%;
      border-width: 1px;
      margin: 5px;
      padding: 5px 5px;
    }

    #facebook-logo {
      width: 15px;
    }
  }

  img, i {
    cursor: pointer;
    filter: brightness(0) invert(1);
  }

  .social div i:hover {
    filter: invert(61%) sepia(43%) saturate(7498%) hue-rotate(295deg) brightness(103%) contrast(101%);
  }
}

// ******************** Media Query ******************** //

@media only screen and (min-width: 1100px) {
  .header {
    background-image: url("../images/bg-hero-desktop.svg");
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .header-navbar {
      grid-column: 1 / -1;

      .logo-header {
        margin-left: 30px;
        height: 30px;
        width: 200px;
      }

      .btn-try {
        border-radius: 25px;
        font-size: 14px;
        font-weight: 700;
        height: 50px;
        margin-right: 30px;
        width: 200px;
      }
    }

    .header-title {
      grid-column: 1;
      margin-left: 80px;
      margin-top: 80px;
      text-align: left;

      h1 {
        margin-left: 0;
      }

      h3 {
        margin-left: 0;
      }
    }

    .mockup {
      margin-right: 80px;
    }
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 100px;
    justify-content: center;

    .text {
      text-align: left;
      margin-left: 125px;

      h1 {
        margin-left: 0;
      }
    }
  }

  .grid-container .container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .pop-up {
    margin: 0 auto;
    width: 50%;
  }

  .footer-img{
    margin-left: 10%;
  }

  .footer-content{
    align-items: baseline;
    display: flex;
    justify-content: space-around;
    .info{
      width: 30%;
    }
  }

  .social{
    display: flex;
  }

  .links{
    display: flex;
    justify-content: space-between;
    width: 15%;
  }

  .footer .copyright{
    margin-right: 5%;
    text-align: end;
  }
}

@media (max-width: 1099px) {
  .footer-img {
    margin-left: 15px;
  }

  .header-title {
    margin-top: 100px;
  }
} 