// ******************** Variables ******************** //
// ********** Primary Color ************ //
$pink: hsl(322, 100%, 66%);

// ********** Secondary Colors ************ //
$grayishblue: hsl(208, 11%, 55%);
$verydarkcyan: hsl(192, 100%, 9%);
$verypalecyan: hsl(193, 100%, 96%);

// ********** Fonts ************ //

$font-Poppins: "Poppins", sans-serif;
$font-Sans: "Open Sans", sans-serif;
$font-size: 18px;

// ********** Others ************ //

$shadow: 0 0 8px 1px $grayishblue;

// ******************** Mixins ******************** //

@mixin pinkbutton($fontsize) {
  font-family: $font-Sans;
  background-color: $pink;
  border: none;
  border-radius: 35px;
  color: white;
  font-size: $fontsize;
  padding: 15px 50px;
  font-weight: 600;
}

// ******************** Globals ******************** //

* {
  margin: 0;
  padding: 0;
}

p {
  color: white;
}

.grid-container {
  column-gap: 20px;
  display: grid;
  row-gap: 30px;
}

// ******************** Header ******************** //
.header {
  
  font-family: $font-Poppins;
  background-image:url("../images/bg-hero-mobile.svg") ;
  background-repeat: no-repeat;
  background-size: auto;
  .header-navbar {
    display: flex;
    justify-content: space-between;
    margin: 30px 10px;

    .btn-try {
      background-color:white;
      border: none;
      border-radius: 20px;
      color: $verydarkcyan;
      font-family: $font-Poppins;
      font-size: 12px;
      padding: 2px 15px;
      box-shadow: $shadow;
    }
    
    .logo-header {
      width: 110px;
    }
  }
  .mockup{
    margin: 50px 0px;
    text-align: center;
    img{
      width: 80%;
    }
  }
  .header-title {
    text-align: center;
    h1 {
      color: $verydarkcyan;
      font-size: 25px;
      margin: 20px;
    }

    h3 {
      color: $verydarkcyan;
      font-family: $font-Sans;
      font-size: $font-size;
      font-weight: 400;
      margin:20px 15px;
    }
  }
}

// ******************** Sections ******************** //

.container {
  border-radius: 10px;
  box-shadow: $shadow;
  margin: 7px 20px;
  .text {
    text-align: center;
    margin: 15px 26px;

    h1 {
      color: $verydarkcyan;
      font-family: $font-Poppins;
      font-size: 20px;
      margin: 15px;
    }

    h3 {
      font-family: $font-Sans;
      font-size: $font-size - 2px;
      font-weight: 400;
      color: $grayishblue;
      margin-bottom: 40px;
    }
  }

  .Image {
    text-align: center;
    margin: 35px auto;
    img {
      width: 60%;
    }
  }
}

.pop-up {
  border-radius: 10px;
  box-shadow: $shadow;
  text-align: center;
  position: relative;
  margin: auto 20px;
  top: 90px;
  background-color: white;

  .text {
    color: $verydarkcyan;
    font-family: $font-Poppins;
    font-size: 18px;
    margin-top: 45px;
  }
}

.btn-pink {
  @include pinkbutton($font-size - 2px);
}

.btn-pink2 {
  @include pinkbutton(12px);
  margin: 30px auto;
}

// ******************** Footer ******************** //

.footer {
  background-color: $verydarkcyan;
  font-family: $font-Sans;

  .footer-content {
    margin: 0 18px 0 18px;
  }

  .footer-img {
    margin-top: 110px;
  }

  .info-details {
    display: flex;
    font-size: $font-size - 2px;
    font-weight: 200;
    
    span {
      color: white;
      padding-left: 20px;
    }
    padding-top: 30px;
  }

  .links {
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 50px;
    p {
      margin-top: 15px;
    }
  }

  .copyright {
    font-size: 10px;
    margin: 30px 0;
    text-align: center;
  }
  .social{
    text-align: center;
    i{
      border-style: solid;
      border-radius: 50%;
      border-width: 1px;
      padding: 5px 5px;
      margin: 5px;
    }
    #facebook-logo{
      width: 15px;
    }
  }
  img, i {
    filter:  brightness(0) invert(1);
  }
}
