* {
  margin: 0;
  padding: 0;
}

p {
  color: white;
}

.grid-container {
  column-gap: 20px;
  display: grid;
  row-gap: 30px;
}

.header {
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Poppins", sans-serif;
}
.header .header-navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 30px 10px;
}
.header .header-navbar .btn-try {
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 8px 1px hsl(208deg, 11%, 55%);
  color: hsl(192deg, 100%, 9%);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding: 2px 15px;
}
.header .header-navbar .btn-try:hover {
  color: #8d949a;
}
.header .header-navbar .logo-header {
  width: 110px;
}
.header .mockup {
  margin: 50px 0px;
  text-align: center;
}
.header .mockup img {
  width: 80%;
}
.header .header-title {
  text-align: center;
}
.header .header-title h1 {
  color: hsl(192deg, 100%, 9%);
  font-size: 25px;
  margin: 20px;
}
.header .header-title h3 {
  color: hsl(192deg, 100%, 9%);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 15px;
}

.btn-pink {
  background-color: hsl(322deg, 100%, 66%);
  border: none;
  border-radius: 35px;
  color: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 50px;
}

.btn-pink:hover {
  background-color: #ff9bdb;
}

.container {
  border-radius: 10px;
  box-shadow: 0 0 8px 1px hsl(208deg, 11%, 55%);
  margin: 7px 20px;
}
.container .text {
  text-align: center;
  margin: 15px 26px;
}
.container .text h1 {
  color: hsl(192deg, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: 15px;
}
.container .text h3 {
  color: hsl(208deg, 11%, 55%);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}
.container .Image {
  margin: 35px auto;
  text-align: center;
}
.container .Image img {
  width: 60%;
}

.pop-up {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px 1px hsl(208deg, 11%, 55%);
  margin: auto 20px;
  position: relative;
  text-align: center;
  top: 90px;
}
.pop-up .text {
  color: hsl(192deg, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-top: 45px;
}

.btn-pink2 {
  background-color: hsl(322deg, 100%, 66%);
  border: none;
  border-radius: 35px;
  color: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 15px 50px;
  margin: 30px auto;
}

.btn-pink2:hover {
  background-color: #ff9bdb;
}

.footer {
  background-color: hsl(192deg, 100%, 9%);
  font-family: "Open Sans", sans-serif;
}
.footer .footer-content {
  margin: 0 18px 0 18px;
}
.footer .footer-img {
  margin-top: 110px;
}
.footer .info-details {
  display: flex;
  font-size: 16px;
  font-weight: 200;
  padding-top: 30px;
}
.footer .info-details span {
  color: white;
  padding-left: 20px;
}
.footer .links {
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 50px;
}
.footer .links p {
  margin-top: 15px;
}
.footer .links div p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer .copyright {
  font-size: 10px;
  margin: 30px 0;
  text-align: center;
}
.footer .social {
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer .social i {
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  margin: 5px;
  padding: 5px 5px;
}
.footer .social #facebook-logo {
  width: 15px;
}
.footer img, .footer i {
  cursor: pointer;
  filter: brightness(0) invert(1);
}
.footer .social div i:hover {
  filter: invert(61%) sepia(43%) saturate(7498%) hue-rotate(295deg) brightness(103%) contrast(101%);
}

@media only screen and (min-width: 1100px) {
  .header {
    background-image: url("../images/bg-hero-desktop.svg");
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .header .header-navbar {
    grid-column: 1/-1;
  }
  .header .header-navbar .logo-header {
    margin-left: 30px;
    height: 30px;
    width: 200px;
  }
  .header .header-navbar .btn-try {
    margin-right: 30px;
    width: 200px;
    font-size: 14px;
    height: 50px;
  }
  .header .header-title {
    grid-column: 1;
  }
  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .container .text {
    text-align: left;
  }
  .container .text h1 {
    margin-left: 0;
  }
  .grid-container .container:nth-child(even) {
    flex-direction: row-reverse;
  }
  .pop-up {
    margin: 0 auto;
    width: 50%;
  }
  .footer-img {
    margin-left: 10%;
  }
  .footer-content {
    align-items: baseline;
    display: flex;
    justify-content: space-around;
  }
  .footer-content .info {
    width: 30%;
  }
  .social {
    display: flex;
  }
  .links {
    display: flex;
    justify-content: space-between;
    width: 15%;
  }
  .footer .copyright {
    margin-right: 5%;
    text-align: end;
  }
}

/*# sourceMappingURL=styles.css.map */
